<header>
  <div class="navbar-2">
    <div class="container">
      <div class="content">
        <div class="caption">
          <img alt="" src="../../assets/logo.png" />
          <h1>ActionStack</h1>
        </div>
      </div>
      <div class="column">
        <div class="link-one"><a [routerLink]="['/about']" routerLinkActive="router-link-active">About Us</a></div>
        <div class="link-one"><a [routerLink]="['/features']" routerLinkActive="router-link-active">Features</a></div>
        <div class="link-one"><a [routerLink]="['/documentation']" routerLinkActive="router-link-active">Documentation</a></div>
      </div>
    </div>
  </div>
</header>
