header {
  position: relative;
}

nav {
  position: relative;
  color: var(--brand-color-blue);
}

a {
  user-select: none;
}

.navbar-2 {
  width: var(--max-width);
  background-color: aliceblue;
  border-bottom: 1px solid var(--brand-color-blue);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-45xl)
}

.container,
.navbar-2 {
  display: flex;
  justify-content: center;
}

.container,
.navbar-2 {
  align-items: center
}

.container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl)
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
}

.caption {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xl)
}

.caption a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xl);
  text-decoration: none;
  color: var(--link-primary);
}

.caption b {
  font-weight: 600;
  font-size: large;
  letter-spacing: 1px;
}

.caption img {
  width: 2rem
}

.links {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs)
}

@media (max-width: 690px) {
  .links {
    display: none;
  }
}

.links .link-one {
  position: relative;
  line-height: 150%;
  font-size: medium;
  padding: 5px 10px;
  border-bottom: 2px transparent solid;
  box-shadow: 0 2px 5px transparent; /* Optional shadow */

  &:hover, &:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
    border-bottom: 2px var(--brand-color-blue) solid;
  }

  &:hover:has(.router-link-active), &:active:has(.router-link-active) {
    border-bottom: 2px var(--brand-color-red) solid;
  };
}

.link-one a {
  font-size: small;
  font-weight: 600;
  text-decoration: none;
  display: inherit;

  color: var(--brand-color-blue);
}


.links-collapsible .link-one {
  font-size: x-large;
}

.links-collapsible .link-one a::after {
  display: none;
}

.links-collapsible .link-one a:hover {
  color: var(--brand-color-red);
}

.action {
  color: var(--brand-color-blue);
}

.action.hover {
  color: var(--brand-color-blue);
}

@keyframes text-animation {
  from {
    color: var(--brand-color-red);
  }

  50% {
    color: transparent;
  }

  100% {
    color: var(--brand-color-blue);
  }
}

.stack {
  color: var(--brand-color-red);
  display: inline;
}

.hover.stack-s {
  animation: text-animation 1.0s ease 0.0s forwards;
  animation-iteration-count: 1;
}

.hover.stack-t {
  animation: text-animation 1.0s ease 0.4s forwards;
  animation-iteration-count: 1;
}

.hover.stack-a {
  animation: text-animation 1.0s ease 0.2s forwards;
  animation-iteration-count: 1;
}

.hover.stack-c {
  animation: text-animation 1.0s ease 0.8s forwards;
  animation-iteration-count: 1;
}

.hover.stack-k {
  animation: text-animation 1.0s ease 1.0s forwards;
  animation-iteration-count: 1;
}


#menuToggle {
  display: none;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 690px) {
  #menuToggle {
    display: block;
  }
}

#menu a {
  text-decoration: none;
  color: var(--brand-color-blue);

  transition: color 0.3s ease;
}

#menu a:hover {
  color: var(--brand-color-red);
}

#menuToggle .hamburger {
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--brand-color-blue);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle.checked span:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -7px);
  background: var(--brand-color-blue);
}

#menuToggle.checked span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle.checked span:nth-last-child(2) {
  transform: rotate(-45deg) translate(3px, 5px);
}

.collapsible {
  display: block;
  position: absolute;
  width: var(--max-width);
  margin-top: -100%;
  border: none;
  padding: 50px;
  padding-top: 75px;
  top: 0;
  left: 0;

  background: aliceblue;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transition: margin-top 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 1;
}

.collapsible.visible {
  display: block;
  margin-top: 0;
}

#menu li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}
