.navbar-2 {
  width: 100vw;
  background-color: aliceblue;
  border-bottom: 1px solid var(--brand-color-blue);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-45xl)
}

.container,
.navbar-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container,
.navbar-2 {
  align-items: center
}

.container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl)
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
}

.caption {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xl)
}

.caption a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xl);
  text-decoration: none;
  color: var(--link-primary);
}

.caption h1 {
  font-weight: 600;
  font-size: large;
  letter-spacing: 1px;
}

.caption img {
  width: 2rem
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs)
}

.links {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl)
}

.link-one {
  position: relative;
  line-height: 150%;
  font-size: medium;
  padding: 10px;
}

.link-one a {
  font-size: small;
  font-weight: 600;
  text-decoration: none;
  display: inherit;

  color: var(--brand-color-blue);


  &::after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--brand-color-red);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after { transform: scaleX(1); }
}

.action {
  color: var(--brand-color-blue);
}

.action.hover {
  color: var(--brand-color-blue);
}

@keyframes text-animation {
  from {
    color: var(--brand-color-red);
  }
  50% {
    color: transparent;
  }
  100% {
    color: var(--brand-color-blue);
  }
}

.stack {
  color: var(--brand-color-red);
  display: inline;
}

.hover.stack-s {
  animation: text-animation 1.0s ease 0.0s forwards;
  animation-iteration-count: 1;
}
.hover.stack-t {
  animation: text-animation 1.0s ease 0.4s forwards;
  animation-iteration-count: 1;
}
.hover.stack-a {
  animation: text-animation 1.0s ease 0.2s forwards;
  animation-iteration-count: 1;
}
.hover.stack-c {
  animation: text-animation 1.0s ease 0.8s forwards;
  animation-iteration-count: 1;
}
.hover.stack-k {
  animation: text-animation 1.0s ease 1.0s forwards;
  animation-iteration-count: 1;
}
