<footer>
  <div class="footer-15">
    <div class="content192">
      <div class="newsletter5">
        <h1 class="container anim-text-flow">
          <span>ACTIONSTACK</span>
        </h1>
        <div class="paragraph">
          Stay up to date on the latest features and releases by joining our
          newsletter.
        </div>
        <div class="actions39">
          <div class="list-item12">
            <input label="Your email address" placeholder="Your email address" class="typedefault10">
            <button class="stylesecondary-smallfalse40">
              <div class="min-read">Subscribe</div>
            </button>
          </div>
          <div class="by-subscribing-you5">
            By subscribing, you agree to our Privacy Policy and consent to
            receive updates from our company.
          </div>
        </div>
      </div>

      <div class="links5">
        <div  *ngFor="let icon of icons; index as i" class="tooltip-container">
          <img class="tooltip-trigger" alt="" [src]="icon.imgsrc" width="50px" />
          <div class="tooltip" *ngIf="icon.links.length > 0">
            <app-tooltip [links]="icon.links"></app-tooltip>
          </div>
        </div>
      </div>
    </div>
    <div class="credits5">
      <div class="divider29"></div>
      <div class="content142">
        <div class="min-read">© 2024 ActionCrew. All rights reserved.</div>
        <div class="footer-links17">
          <div class="privacy-policy5">
            <span class="image-caption-goes"><a href="https://actionstacklib.web.app">home page</a></span>
          </div>
          <div class="privacy-policy5">
            <span class="image-caption-goes"><a href="https://github.com/actioncrew/actionstack">github repo</a></span>
          </div>
          <div class="privacy-policy5">
            <span class="image-caption-goes"><a href="https://www.npmjs.com/package/@actioncrew/actionstack">npm package</a></span>
          </div>
          <div class="privacy-policy5">
            <span class="image-caption-goes"><a href="https://github.com/actioncrew/actionstack/tree/master/projects/app">sample app</a></span>
          </div>
          <div class="privacy-policy5">
            <span class="image-caption-goes"><a href="https://gist.github.com/oleksii-shepel">code samples</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
