.footer-15 {
  overflow: hidden;
  width: 100vw;
  background-color: aliceblue;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl)
}

.content192,
.links5 {
  flex-direction: row
}

.links5 {
  flex: 1;
  gap: var(--gap-21xl)
}

.content192 {
  align-self: stretch;
  height: 248px;
  gap: var(--gap-109xl)
}

.actions39,
.link75,
.newsletter5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.newsletter5 {
  width: 500px;
  flex-direction: column;
  gap: var(--gap-5xl)
}

.column44,
.footer-links15 {
  flex-direction: column;
  align-items: flex-start
}

.footer-links15 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  font-size: var(--text-small-link-size)
}

.column44 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base)
}

.column44,
.column46,
.content192,
.link85,
.links5 {
  display: flex;
  justify-content: flex-start
}

.check-icon {
  width: 1.67vw;
  position: relative;
  height: 1.67vw;
  overflow: hidden;
  flex-shrink: 0
}

.div3 {
  font-size: var(--text-medium-normal-size)
}

.div3,
.min-read {
  margin-right: 20px;
  position: relative;
  line-height: 150%
}

.divider29 {
  align-self: stretch;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  height: 1px
}

.content142,
.content156 {
  display: flex;
  align-items: flex-start
}

.credits5,
.footer-15,
.footer-links17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.footer-links17 {
  flex-direction: row;
  gap: var(--gap-5xl)
}

.privacy-policy5 {
  position: relative;
  text-decoration: underline;
  line-height: 150%
}

.credits5,
.footer-15 {
  flex-direction: column
}

.credits5 {
  align-self: stretch;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}

.color-dark10 {
  width: 4.38vw;
  position: relative;
  height: 1.88vw;
  overflow: hidden;
  flex-shrink: 0
}

.paragraph {
  align-self: stretch;
  position: relative;
  line-height: 150%
}

.actions39 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-neutral-neutral)
}

.actions39,
.link75,
.newsletter5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.list-item12,
.list5 {
  align-items: flex-start;
  gap: var(--gap-base)
}

.list-item12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.typedefault10 {
  border: 1px solid var(--link-primary);
  display: flex;
  flex-direction: row;
  align-items: center
}

.typedefault10 {
  flex: 1;
  background-color: var(--background-color-primary);
  justify-content: flex-start;
  padding: var(--padding-xs)
}

.image-caption-goes {
  flex: 1;
  position: relative;
  line-height: 150%
}

.stylesecondary-smallfalse40 {
  width: 121px;
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  color: var(--link-primary)
}

.div3,
.min-read {
  position: relative;
  line-height: 150%
}

.by-subscribing-you5 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-tiny-normal-size);
  line-height: 150%;
  color: var(--link-primary)
}

.column44,
.footer-links15 {
  flex-direction: column;
  align-items: flex-start
}

.footer-links15 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  font-size: var(--text-small-link-size)
}

.text109 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600
}

.actions39 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-neutral-neutral)
}

.actions39,
.link75,
.newsletter5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.newsletter5 h1 {
  font-size: large;
}

.image-caption-goes {
  flex: 1;
  position: relative;
  line-height: 150%
}

.column46,
.content192,
.links5 {
  align-items: flex-start
}

.column46 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base)
}
