.footer-15 {
  width: var(--max-width);
  background-color: aliceblue;
  padding: var(--padding-13xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-base)
}

.content192,
.links5 {
  flex-direction: row;
  font-size: large;
}

.links5 {
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-29xl)
}

.links5 .icon {
  position: relative;
}

.actions39,
.newsletter5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.newsletter5 {
  width: 500px;
  flex-direction: column;
  gap: var(--gap-5xl)
}

// .anim-text-flow {
//   span {
//     background: linear-gradient(90deg, red, yellow, lime, aqua, blue, magenta, red);
//     background-size: 200%;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: gradientChange 15s infinite;
//   }
// }

// @keyframes gradientChange {
//   0% { background-position: 0% }
//   50% { background-position: 100% }
//   100% { background-position: 0% }
// }

.column44,
.footer-links15 {
  flex-direction: column;
  align-items: flex-start
}

.footer-links15 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  font-size: var(--text-small-link-size)
}

.column44 {
  gap: var(--gap-base)
}

.column44,
.column46,
.content192,
.link85,
.links5 {
  display: flex;
  justify-content: flex-start
}

.check-icon {
  width: 1.67vw;
  position: relative;
  height: 1.67vw;
  overflow: hidden;
  flex-shrink: 0
}

.div3 {
  font-size: var(--text-medium-normal-size)
}

.div3,
.min-read {
  position: relative;
  line-height: 150%
}

.divider29 {
  align-self: stretch;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  height: 1px
}

.content156 {
  display: flex;
  align-items: flex-start
}

.content142 {
  display: flex;
  align-self: center;
}

.credits5,
.footer-15,
.footer-links17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-links17 {
  flex-direction: row;
  gap: var(--gap-13xl);
  margin: 0 var(--gap-13xl);
  align-items: center;
  justify-content: center;


  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.privacy-policy5 {
  position: relative;
  text-decoration: underline;
}

.credits5,
.footer-15 {
  flex-direction: column
}

.credits5 {
  align-self: stretch;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}

.color-dark10 {
  width: 4.38vw;
  position: relative;
  height: 1.88vw;
  overflow: hidden;
  flex-shrink: 0
}

.paragraph {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-size: medium;
}

.actions39 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-neutral-neutral)
}

.list-item12,
.list5 {
  align-items: flex-start;
  gap: var(--gap-base)
}

.list-item12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.typedefault10 {
  border: 1px solid var(--link-primary);
  display: flex;
  flex-direction: row;
  align-items: center
}

.typedefault10 {
  flex: 1;
  align-self: stretch;
  background-color: var(--background-color-primary);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
}

.stylesecondary-smallfalse40 {
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--link-primary)
}

.div3,
.min-read {
  position: relative;
  line-height: 150%
}

.by-subscribing-you5 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-tiny-normal-size);
  line-height: 150%;
  color: var(--link-primary)
}

.column44,
.footer-links15 {
  flex-direction: column;
  align-items: flex-start
}

.footer-links15 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  font-size: var(--text-small-link-size)
}

.text109 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600
}

.actions39 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-neutral-neutral)
}

.link75 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 150%;
  width: 100%;
  color: var(--brand-color-blue);
}

.newsletter5 h1 {
  font-size: large;
}

.image-caption-goes {
  flex: 1;
  position: relative;
  width: max-content;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & a, a:active {
    font-weight: 100;
    text-decoration: none;
    color: var(--brand-color-blue);
  }
}

.column46,
.content192,
.links5 {
  align-items: flex-start
}

.column46 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base)
}

.content192 {
  align-items: center;
  justify-content: center;
  align-self: stretch;
  gap: var(--gap-109xl);
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  cursor: pointer; /* Indicate hoverable element */
}

.tooltip {
  position: absolute;
  top: 100%; /* Position below the trigger */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: aliceblue; /* Tooltip background color */
  color: var(--brand-color-blue); /* Tooltip text color */
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--brand-color-blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Initially transparent */
  transition: visibility 0.3s, opacity 0.3s ease-in-out; /* Smooth transition */
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1; /* Tooltip appears on hover */
  z-index: 5;
}

.links5 {
  display: flex;
  flex-wrap: wrap; /* Key property */
  width: fit-content; /* Optional: Adjust container width */
  justify-content: center;
}
