<footer>
  <div class="footer-15">
    <div class="content192">
      <div class="newsletter5">
        <h1 class="container anim-text-flow">
          <span>ACTIONSTACK</span>
        </h1>
        <div class="paragraph">
          Stay up to date on the latest features and releases by joining our
          newsletter.
        </div>
        <div class="actions39">
          <div class="list-item12">
            <input label="Your email address" placeholder="Your email address" class="typedefault10">
            <button class="stylesecondary-smallfalse40">
              <div class="min-read">Subscribe</div>
            </button>
          </div>
          <div class="by-subscribing-you5">
            By subscribing, you agree to our Privacy Policy and consent to
            receive updates from our company.
          </div>
        </div>
      </div>
      <div class="links5">
        <div class="column44">
          <div class="text109">Column One</div>
          <div class="footer-links15">
            <div class="link75">
              <div class="image-caption-goes">Link One</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Two</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Three</div>
            </div>
            <div class="link75">
              <div class="link-four11">Link Four</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Five</div>
            </div>
          </div>
        </div>
        <div class="column44">
          <div class="text109">Column Two</div>
          <div class="footer-links15">
            <div class="link75">
              <div class="image-caption-goes">Link Six</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Seven</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Eight</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Nine</div>
            </div>
            <div class="link75">
              <div class="image-caption-goes">Link Ten</div>
            </div>
          </div>
        </div>
        <div class="column46">
          <div class="text109">Follow us</div>
          <div class="footer-links15">
            <div class="link85">
              <img class="check-icon" alt="" src="../../public/icon--facebook.svg" />

              <div class="min-read">Facebook</div>
            </div>
            <div class="link85">
              <img class="check-icon" alt="" src="../../public/icon--instagram.svg" />

              <div class="min-read">Instagram</div>
            </div>
            <div class="link85">
              <img class="check-icon" alt="" src="../../public/icon--x.svg" />

              <div class="min-read">Twitter</div>
            </div>
            <div class="link85">
              <img class="check-icon" alt="" src="../../public/icon--linkedin.svg" />

              <div class="min-read">LinkedIn</div>
            </div>
            <div class="link85">
              <img class="check-icon" alt="" src="../../public/icon--youtube.svg" />

              <div class="min-read">YouTube</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="credits5">
      <div class="divider29"></div>
      <div class="content142">
        <div class="min-read">© 2023 ActionStack. All rights reserved.</div>
        <div class="footer-links17">
          <div class="privacy-policy5">Privacy Policy</div>
          <div class="privacy-policy5">Terms of Service</div>
          <div class="privacy-policy5">Cookie Settings</div>
        </div>
      </div>
    </div>
  </div>
</footer>
