<div class="team-2">
  <div class="section-title10">
    <div class="content37">
      <b class="short-heading-here">Our Experts</b>
      <div class="job-title">
        Our team is made up of people with a passion for creating exceptional solutions.
      </div>
    </div>
  </div>
  <div class="content38">
    <div class="content39">
      <div class="row6">
        <div class="card">
          <img class="placeholder-image-1" alt="" src="./assets/about_us_photo_1.jpg" />

          <div class="content40">
            <div class="title">
              <div class="name">Igor</div>
              <div class="job-title">UI/UX Designer</div>
            </div>
            <div class="text24">
              Igor is a visionary leader with a passion for creating
              exceptional user experiences.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="" src="./public/icon--linkedin.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--x.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--dribble.svg" />
          </div>
        </div>
        <div class="card">
          <img class="placeholder-image-1" alt="" src="./assets/about_us_photo_2.jpg" />

          <div class="content40">
            <div class="title">
              <div class="name">Oleksii</div>
              <div class="job-title">Frontend Developer</div>
            </div>
            <div class="text24">
              Oleksii is a coding wizard who brings our ideas to life with
              precision and efficiency.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="" src="./public/icon--linkedin.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--x.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--dribble.svg" />
          </div>
        </div>
        <div class="card">
          <img class="placeholder-image-1" alt="" src="./assets/about_us_photo_3.jpg" />

          <div class="content40">
            <div class="title">
              <div class="name">Viktoria</div>
              <div class="job-title">Q&amp;A Specialist</div>
            </div>
            <div class="text24">
              Viktoria is a technical genius who ensures our products are
              built to perfection.
            </div>
          </div>
          <div class="social-icons">
            <img class="icon-dribble" alt="" src="./public/icon--linkedin.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--x.svg" />

            <img class="icon-dribble" alt="" src="./public/icon--dribble.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layout-122">
  <p>
    We deeply appreciate any support of our project. <br>
    With your help, we can continue to make a positive impact in our community. </p>
  <div class="actions14 ">
    <button class="container" (click)="donate($event)">
      <span class="clipping-element">Donation</span>
    </button>
  </div>
</div>
<div class="layout-121">
  <div class="content50">
    <div class="column13">
      <div class="content51">
        <b class="heading16">Our Journey Over the Last Decade</b>
      </div>
      <div class="actions14">
        <button class="stylesecondary-smallfalse13">
          <div class="link-one2">Learn More</div>
        </button>
      </div>
      <div class="content51">
        <img src="./assets/logo.png" alt="">
      </div>

    </div>
    <div class="timeline">
      <div class="timeline-item">
        <div class="content52">
          <div class="divider5"></div>
        </div>
        <div class="content53">
          <b class="heading17">Rise of Modern Frameworks</b>
          <div class="text24">
            We started our journey right alongside the rise of modern frameworks. Our team members were filled with
            enthusiasm and a relentless hunger for active learning and experimentation.</div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content52">
          <div class="divider5"></div>
        </div>
        <div class="content53">
          <b class="heading17">Boom of Web Development</b>
          <div class="text24">
            The demand for amazing digital experiences forced us out of our comfort zones. We embraced the challenge,
            recognizing that every new skill we learned opened doors for the team and our users.
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content52">
          <div class="divider5"></div>
        </div>
        <div class="content53">
          <b class="heading17">Catching Up with Progress</b>
          <div class="text24">
            We knew that to truly serve our users, we had to become masters of continuous learning. Conferences,
            workshops, and online courses weren't just about the tech – they were about fueling our shared passion.
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content52">
          <div class="divider5"></div>
        </div>
        <div class="content53">
          <b class="heading17">Independent Initiatives and AI</b>
          <div class="text24">
            Our team thrives because we support each other's individual dreams. Passion projects and explorations into
            AI-assisted tools have breathed new life into our teamwork.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
