.content33 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
}

.link-one2 {
  color: #fff;
  position: relative;
  line-height: 150%
}

.column12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs)
}

.column12 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl)
}

.actions13 {
  display: flex;
  justify-content: center
}

.actions13 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  color: var(--background-color-primary)
}

.short-heading-here {
  align-self: stretch;
  position: relative;
  line-height: 120%
}

.content34 {
  width: 53.33vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl)
}

.icon-relume7 {
  overflow: hidden;
  flex-shrink: 0
}

.icon-relume7 {
  width: 1.67vw;
  position: relative;
  height: 1.67vw
}

.content35,
.content36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl)
}

.content36 {
  align-self: stretch
}

.content35 {
  flex: 1
}

.placeholder-image-icon7 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 44.44vw;
  object-fit: cover
}

.layout-241 {
  display: flex;
  justify-content: flex-start
}

.layout-241 {
  width: var(--max-width);
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: var(--heading-desktop-h3-size)
}

.content37,
.section-title10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

.content37 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size)
}

.section-title10 {
  width: 53.33vw;
  gap: var(--gap-base)
}

.placeholder-image-1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover
}

.job-title,
.name {
  position: relative;
  line-height: 150%
}

.name {
  align-self: stretch;
  font-weight: 600
}

.job-title {
  font-size: var(--text-medium-normal-size)
}

.job-title,
.text24,
.title {
  align-self: stretch
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

.text24 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%
}

.content40 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base)
}

.icon-dribble {
  width: 1.67vw;
  position: relative;
  height: 1.67vw;
  overflow: hidden;
  flex-shrink: 0
}

.social-icons {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-sm)
}

.card,
.content39,
.row6,
.social-icons {
  display: flex;
  justify-content: flex-start
}

.card {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl)
}

.content39,
.row6 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl)
}

.content39 {
  flex-direction: column;
  gap: var(--gap-45xl)
}

.heading15 {
  align-self: stretch;
  position: relative;
  line-height: 130%
}

.stylesecondary-smallfalse12 {
  width: 10.9vw;
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size)
}

.content48 {
  gap: var(--gap-5xl);
  font-size: var(--font-size-13xl)
}

.content38,
.content48,
.team-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

.content38 {
  align-self: stretch;
  gap: var(--gap-77xl);
  font-size: var(--heading-desktop-h6-size)
}

.team-2 {
  width: var(--max-width);
  background-color: var(--background-color-primary);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center
}

.heading16 {
  color: #fff;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-desktop-h2-size);
  line-height: 120%
}

.content51 {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base)
}

.content51 img {
  align-self: center;
  display: flex;
  width: 50%;
  object-fit: cover
}

.stylesecondary-smallfalse13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.actions14 .container {
  /* Container styles (optional) */
  position: relative;
  width: calc(15ch + 4px);
  height: calc(var(--padding-xs) * 2 + 1.75rem);
  background-color: var(--background-color-primary);
  overflow: hidden;
  display: grid; /* Clip content overflowing the container */
  place-content: center;
  border: 2px var(--link-primary) solid;
}

.actions14 .container:hover {
  width: calc(15ch + 4px);
  height: calc(var(--padding-xs) * 2 + 1.75rem);
  border: 2px solid;
  border-image: linear-gradient(to bottom, var(--brand-color-red) 0% , var(--brand-color-blue) 100%);
  border-image-slice: 1;
}

.clipping-element {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;

  & span {
    padding: 7px 40px;
    text-decoration: none;
    color: var(--link-primary);
    background-color: var(--background-color-primary);
    font-size: medium;
  }

}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.actions14,
.column13 {
  display: flex;
  justify-content: flex-start
}

.actions14 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-5xl)
}

.column13 {
  padding: 15px;
  flex-direction: column;
  align-self: stretch;
  justify-content: stretch;
  gap: var(--gap-13xl);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 100%), url(../../assets/about_us_illustration_1.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat
}

.link-one1 {
  position: relative;
  line-height: 150%;
}

.divider5 {
  width: .14vw;
  position: relative;
  background-color: var(--link-primary);
  border-right: .14vw solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  align-self: center;
  height: 70%
}

.content52 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: stretch;
  gap: var(--gap-base);
  height: 100%;
  justify-content: space-around
}

.heading17 {
  align-self: stretch;
  position: relative;
  line-height: 140%
}

.content53 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base)
}

.content53,
.content58,
.timeline-item {
  display: flex;
  justify-content: flex-start
}

.timeline-item {
  align-self: stretch;
  flex-direction: row;
  align-items: baseline;
  gap: var(--gap-21xl);
  flex-grow: 1
}

.content58 {
  flex-direction: column;
  align-items: center
}

.timeline {
  flex-grow: 1;
  align-items: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--heading-desktop-h6-size)
}

.content50,
.layout-121,
.timeline {
  display: flex;
  justify-content: stretch;
  align-items: 0 1 auto
}

.content50 {
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--gap-61xl)
}

.layout-121 {
  width: var(--max-width);
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box
}

.layout-122 {
  width: var(--max-width);
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-45xl);
  box-sizing: border-box;
  font-size: medium;
}

.text36 {
  align-self: stretch;
  position: relative;
  line-height: 150%
}

.content60 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.content60 {
  align-items: center
}

.content60 {
  overflow: hidden
}

.content60 {
  width: 53.33vw;
  gap: var(--gap-13xl)
}

.heading21 {
  width: 38.89vw;
  position: relative;
  line-height: 150%;
  display: inline-block
}

.content61,
.row8 {
  display: flex;
  align-items: center
}

.row8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-29xl)
}

.content61 {
  flex-direction: column;
  gap: var(--gap-5xl)
}

.content61 {
  align-self: stretch;
  justify-content: center
}

.content62,
.content64 {
  display: flex;
  align-items: center
}

.content62 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-5xl)
}

.content64 {
  flex-direction: column;
  justify-content: flex-start
}

.content64 {
  align-self: stretch;
  gap: var(--gap-5xl)
}

.stylesecondary-smallfalse14 {
  border: 1px solid var(--link-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }

.stylesecondary-smallfalse14 {
  color: var(--link-primary)
}

.actions15,
.content63 {
  display: flex;
  justify-content: flex-start
}

.actions15 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--background-color-primary)
}

.content63 {
  flex-direction: column;
  align-items: center
}

.content63 {
  width: 53.33vw;
  gap: var(--gap-5xl)
}

.placeholder2 {
  flex: 1;
  position: relative;
  line-height: 150%
}

.stylesecondary-smallfalse15 {
  border: 1px solid var(--link-primary);
  display: flex;
  flex-direction: row;
  align-items: center
}

.stylesecondary-smallfalse15 {
  width: 8.4vw;
  box-sizing: border-box;
  justify-content: center;
  color: var(--link-primary)
}

.actions16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-neutral-neutral)
}

.actions16,
.link15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.link15 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0
}

.column14,
.content65,
.link25 {
  display: flex;
  justify-content: flex-start
}

.column14 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base)
}

.content65,
.link25 {
  flex-direction: row
}

.link25 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-xs)
}

.content65 {
  align-items: flex-start
}

.content65 {
  align-self: stretch;
  height: 17.22vw;
  gap: var(--gap-109xl)
}

.divider8 {
  align-self: stretch;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  height: 1px
}

.row10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

.row10 {
  align-self: stretch;
  justify-content: space-between
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
}

.about-us {
  overflow: hidden
}

.about-us {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary)
}

.gradient-button {
  /* Base button styles (optional) */
  background-color: transparent; /* Remove default background color */
  border: 1px solid black;
  color: var(--link-primary); /* Adjust text color for contrast */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;


  /* Gradient definition */
  background-image: linear-gradient(to right, #ffffff 0%, aliceblue 100%);
  background-size: 200% 100%; /* Ensures gradient covers entire button */
  transition: background-position 0.3s ease; /* Smooth transition */
}

.gradient-button:hover {
  /* Move gradient position to create hover effect */
  background-position: -100% 0%;
}
