<main>
  <div class="header-15">
    <div class="content1">
      <div class="column1">
        <h1 class="medium-length-hero" aria-label="Actionstack Home Page">Take your Angular applications to new heights</h1>
      </div>
      <div class="column2">
        <div class="lorem-ipsum-dolor">
          Actionstack is a modern Angular state management library with superpowers. Unlock its potential and create the
          future.</div>
        <div class="actions1">
          <button class="styleprimary-smallfalse-da" (click)="download()">
            <span class="link-one4">Download</span>
          </button>
          <button class="stylesecondary-smallfalse" (click)="tryDemo()">
            <span class="link-one4">Try Demo</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <img class="placeholder-image-icon" alt="Actionstack home illustration" src="assets/home_illustration_1.png" />
  <div class="layout-16">
    <div class="container1">
      <div class="content2">
        <div class="content9">
          <div class="content10">
            <h2 class="medium-length-hero">Centralized State Management</h2>
            <div class="text">
              Keeping track of how state changes in a complex app can be challenging. Centralized state management enforces a predictable way to update the state. Often, this involves unidirectional data flow, where actions are dispatched to trigger state changes in a controlled manner. This makes debugging and reasoning about your application's behavior much easier.</div>
          </div>
        </div>
        <div class="actions2">
          <button class="stylesecondary-smallfalse" (click)="learnMoreKeyFeatures()">
            <span class="link-one4">Learn More</span>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon1" alt="centralized state management" src="assets/home_illustration_2.png" />
    </div>
  </div>
  <div class="layout-233">
    <div class="content4">
      <div class="content2">
        <div class="section-title">
          <div class="section-title">
            <h2 class="heading1">Maintainability</h2>
            <div class="text1">
              As your application grows in complexity, having a central location for state management becomes crucial. This keeps your codebase cleaner and easier to understand for everyone involved. New developers can quickly grasp how data flows through the application, reducing onboarding time and improving overall code maintainability.</div>
          </div>
        </div>
      </div>
      <div class="content2">
        <div class="section-title">
          <div class="section-title">
            <h2 class="heading1">Scalability</h2>
            <div class="text1">
              Centralized state management tools are designed to specifically handle complex applications with numerous components. They provide robust mechanisms for handling large amounts of data efficiently. This ensures that updates are reflected smoothly across the entire user interface, even as your application scales significantly.</div>
          </div>
        </div>
      </div>
      <div class="content2">
        <div class="section-title">
          <div class="section-title">
            <h2 class="heading1">Consistency</h2>
            <div class="text1">Centralized state management often enforces mechanisms like immutability. This means that data is never directly changed but rather replaced with a new version. This approach helps prevent unexpected side effects and ensures consistent data throughout your application, leading to a more robust and reliable user experience.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-16">
    <div class="container1">
      <div class="content2">
        <div class="content9">
          <div class="section-title3">
            <div class="content10"><h2 class="medium-length-hero">Unleash the Potential of Angular Apps</h2>
              <div class="text"> Ditch the spaghetti code and fragmented data holding your Angular apps back. Actionstack boasts a flexible architecture that readily adapts and scales alongside your growing application. Leverage Angular's lazy loading for on-demand features, optimizing initial load times. Actionstack supercharges this by providing centralized state management for dynamic features, keeping everything organized and in sync.</div>
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse" (click)="learnMoreAPIReference()">
            <span class="link-one4">Learn More</span>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon1" alt="unleash the potential" src="assets/home_illustration_3.png" />
    </div>
  </div>
  <div class="layout-350">
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <h2 class="medium-length-hero">New Age of Asynchrony and Observables</h2>
            <div class="text">
              Asynchronous workflows rule the modern web, making state management a nightmare. Actionstack, architected for asynchronous workflows, seamlessly integrates with RxJS, the powerful reactive programming library for JavaScript. This dynamic duo empowers you to effortlessly manage asynchronous operations. Focus on building exceptional user experiences, not wrestling with complex asynchronous logic.</div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse" (click)="learnMoreAdvancedTopics()">
            <span class="link-one4">Learn More</span>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="" src="../../assets/home_illustration_4.png" />
    </div>
  </div>
  <div class="layout-350">
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <h2 class="medium-length-hero">Smoother Development Process</h2>
            <div class="text">
              Actionstack equips you with a comprehensive toolkit for streamlining development. Built-in testing, debugging, and performance optimization tools empower you to identify and resolve issues proactively, saving you time and frustration. New developers can quickly grasp the application's inner workings, and ongoing maintenance becomes a breeze.
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse" (click)="learnMoreAPIReference()">
            <span class="link-one4">Learn More</span>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="smoother development process" src="../../assets/home_illustration_5.png" />
    </div>
  </div>
  <div class="layout-350">
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <h2 class="medium-length-hero">Next-Level Experiences</h2>
            <div class="text">
              Forget the complexities of traditional state management and unlock the power of predictable state and streamlined development workflows. Contribute to and benefit from the growing Actionstack community of passionate developers. Dive in and experience the joy of building exceptional Angular applications. Actionstack makes state management intuitive and even enjoyable. It's not just easy, it's actually fun!
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse" (click)="learnMoreContributing()">
            <span class="link-one4">Learn More</span>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="next-level experiences" src="../../assets/home_illustration_7.png" />
    </div>
  </div>
  <div class="testimonial-17">
    <div class="section-title8">
      <b class="medium-length-hero">Happy Customers</b>
      <div class="text">Hear what our customers have to say about us</div>
    </div>
    <div class="content19">
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />
          </div>
          <div class="quote">
            Actionstack has revolutionized the way we manage our applications.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="avatar" src="assets/home_avatar_1.png" />

          <div class="avatar-content">
            <div class="subheading">John Doe</div>
            <div class="link-one4">CTO, ABC Company</div>
          </div>
        </div>
      </div>
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />
          </div>
          <div class="quote">
            Actionstack is a game-changer for our development team.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="avatar" src="assets/home_avatar_2.png" />

          <div class="avatar-content">
            <div class="subheading">Jane Smith</div>
            <div class="link-one4">Senior Developer, XYZ Inc.</div>
          </div>
        </div>
      </div>
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />

            <img class="vector-icon" alt="star" src="../../assets/star.png" />
          </div>
          <div class="quote">
            We couldn't imagine building applications without Actionstack.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="avatar" src="assets/home_avatar_3.png" />

          <div class="avatar-content">
            <div class="subheading">Mike Johnson</div>
            <div class="link-one4">Product Manager, 123 Corp</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
