<main>
  <div class="header-15">
    <div class="content1">
      <div class="column1">
        <b class="medium-length-hero">Take your Angular applications to new heights</b>
      </div>
      <div class="column2">
        <div class="lorem-ipsum-dolor">
          ActionStack is a modern Angular state management library with superpowers. Unlock its potential and create the
          future.</div>
        <div class="actions1">
          <button class="styleprimary-smallfalse-da">
            <div class="link-one4">Download</div>
          </button>
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Try Demo</div>
          </button>
        </div>
      </div>
    </div>
    <img class="placeholder-image-icon" alt="" src="assets/home_illustration_1.png" />
  </div>
  <div class="layout-24">
    <div class="container1">
      <div class="content2">
        <img class="icon-relume" alt="" src="../../assets/anchor.png" />

        <div class="section-title">
          <b class="medium-length-hero">Centralized State Management</b>
          <div class="text">
            Craft stellar user experiences with ActionStack. Its familiar Redux-like foundation, infused with modern
            features, streamlines state management. Leave the intricate details to ActionStack while you build amazing
            apps.</div>
        </div>
      </div>
      <img class="placeholder-image-icon1" alt="" src="assets/home_illustration_2.png" />
    </div>
  </div>
  <div class="layout-233">
    <div class="content4">
      <div class="content2">
        <div class="section-title">
          <img class="icon-relume" alt="" src="../../assets/anchor.png" />

          <div class="section-title">
            <b class="heading1">Your Powerful Ally</b>
            <div class="text1">
              Say goodbye to complexity and hello to a world of focused development that lets you create stunning user
              experiences with complete control and confidence. Easily define, update, and access application state,
              even in an asynchronous environment.</div>
          </div>
        </div>
        <div class="actions2">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <div class="content2">
        <div class="section-title">
          <img class="icon-relume" alt="" src="../../assets/anchor.png" />

          <div class="section-title">
            <b class="heading1">Reactive by Design</b>
            <div class="text1">
              The library leverages RxJS observables for real-time data updates, ensuring your UI always reflects the
              latest state instantaneously. It also keeps your state predictable and easy to debug, leaving no room for
              unexpected mutations.</div>
          </div>
        </div>
        <div class="actions2">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <div class="content2">
        <div class="section-title">
          <img class="icon-relume" alt="" src="../../assets/anchor.png" />

          <div class="section-title">
            <b class="heading1">Evolve Beyond Redux</b>
            <div class="text1">ActionStack takes its core principles and adds modern enhancements, making it easy to
              learn and use even if you're new to the concept. Modular architecture&nbsp;keeps your code clean,
              organized, and scalable even as your app grows.&nbsp;</div>
          </div>
        </div>
        <div class="actions2">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-16">
    <div class="container1">
      <div class="content2">
        <div class="content9">
          <div class="section-title3">
            <div class="content10"><b class="medium-length-hero">Unlock the Power of ActionStack</b>
              <div class="text"> Ditch the spaghetti code and fragmented data holding your Angular apps back. Embrace an
                intuitive design that streamlines complex interactions. </div>
            </div>
          </div>
          <div class="list">
            <div class="list-item">
              <img class="icon-relume4" alt="" src="../../assets/anchor.png" />

              <div class="placeholder">
                Adapt and modify flexible architecture as your app evolves
              </div>
            </div>
            <div class="list-item">
              <img class="icon-relume4" alt="" src="../../assets/anchor.png" />

              <div class="placeholder">
                Reliable and efficient application state management
              </div>
            </div>
            <div class="list-item">
              <img class="icon-relume4" alt="" src="../../assets/anchor.png" />

              <div class="placeholder">
                Built-in tools for testing, debugging, and performance
                optimization
              </div>
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon1" alt="" src="assets/home_illustration_3.png" />
    </div>
  </div>
  <div class="layout-350">
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <b class="medium-length-hero">Seamless Integration</b>
            <div class="text">
              <p>By seamlessly integrating ActionStack with Angular, you can leverage the best of both worlds and create
                dynamic and responsive web applications with minimal code.</p>
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="" src="../../assets/home_illustration_4.png" />
    </div>
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <b class="medium-length-hero">Scalable, Maintainable Apps with Ease</b>
            <div class="text">
              ActionStack empowers you to manage your Angular app's state with precision and flexibility. Enjoy
              real-time updates, predictable data flows, and efficient side effect handling. It also offers advanced
              features like RxJS integration giving you the tools to build scalable and performant Angular applications.
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="" src="../../assets/home_illustration_5.png" />
    </div>
    <div class="container3">
      <div class="content11">
        <div class="section-title3">
          <div class="content10">
            <b class="medium-length-hero">Next-Level Experiences</b>
            <div class="text">
              ActionStack doesn't just simplify state management, it transforms it. Join the growing community of
              developers who have unlocked the power of ActionStack. Start your journey today and experience the joy of
              effortless state management. It's not just easy, it's actually fun!
            </div>
          </div>
        </div>
        <div class="actions5">
          <button class="stylesecondary-smallfalse">
            <div class="link-one4">Learn More</div>
          </button>
        </div>
      </div>
      <img class="placeholder-image-icon3" alt="" src="../../assets/home_illustration_7.png" />
    </div>
  </div>
  <div class="testimonial-17">
    <div class="section-title8">
      <b class="medium-length-hero">Happy Customers</b>
      <div class="text">Hear what our customers have to say about us</div>
    </div>
    <div class="content19">
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />
          </div>
          <div class="quote">
            ActionStack has revolutionized the way we manage our applications.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="" src="assets/home_avatar_1.png" />

          <div class="avatar-content">
            <div class="subheading">John Doe</div>
            <div class="link-one4">CTO, ABC Company</div>
          </div>
        </div>
      </div>
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />
          </div>
          <div class="quote">
            ActionStack is a game-changer for our development team.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="" src="assets/home_avatar_2.png" />

          <div class="avatar-content">
            <div class="subheading">Jane Smith</div>
            <div class="link-one4">Senior Developer, XYZ Inc.</div>
          </div>
        </div>
      </div>
      <div class="column6">
        <div class="content20">
          <div class="stars">
            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />

            <img class="vector-icon" alt="" src="../../public/vector.png" />
          </div>
          <div class="quote">
            We couldn't imagine building applications without ActionStack.
          </div>
        </div>
        <div class="avatar">
          <img class="avatar-image-icon" alt="" src="assets/home_avatar_3.png" />

          <div class="avatar-content">
            <div class="subheading">Mike Johnson</div>
            <div class="link-one4">Product Manager, 123 Corp</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
