body {
  margin: 0;
  line-height: normal;
  font-family: Roboto, Verdana;
  font-size: 28px;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--link-primary);
  padding: var(--padding-xs) var(--padding-5xl);
  font-size: medium;
}

* {
  box-sizing: border-box;
}

:root {
  --max-width: calc(100vw - (100vw - 100%));
  /* font sizes */
  --text-small-link-size: 0.875rem;
  --text-regular-semi-bold-size: 1rem;
  --text-tiny-normal-size: 0.75rem;
  --text-medium-normal-size: 1.125rem;
  --font-size-13xl: 2rem;
  --heading-desktop-h2-size: 2.5rem;
  --heading-desktop-h3-size: 2rem;
  --font-size-37xl: 3.5rem;
  --font-size-5xl: 1.5rem;
  --heading-desktop-h6-size: 1.25rem;


  /* Colors */
  --brand-color-blue: #336699;
  --brand-color-red: red;
  --background-color-primary: #fff;
  --link-primary: #000;
  --color-neutral-neutral: #666;
  --color-neutral-neutral-lighter: #ccc;
  --color-neutral-neutral-lightest: #eee;

  /* Gaps */
  --gap-61xl: 2.859em;
  --gap-13xl: 1.142em;
  --gap-5xl: 0.859em;
  --gap-109xl: 4.572em;
  --gap-21xl: 1.43em;
  --gap-base: 0.571em;
  --gap-xs: 0.427em;
  --gap-29xl: 1.713em;
  --gap-45xl: 2.283em;
  --gap-9xs: 0.144em;
  --gap-5xs: 0.288em;
  --gap-77xl: 3.43em;
  --gap-sm: 0.499em;
  --gap-mini: 0.535em;
  --gap-xl: 0.715em;

  /* Paddings */
  --padding-61xl: 2.859em;
  --padding-45xl: 2.283em;
  --padding-5xs: 0.288em;
  --padding-xs: 0.427em;
  --padding-5xl: 0.859em;
  --padding-93xl: 4.001em;
  --padding-13xl: 1.142em;
  --padding-base: 0.571em;
  --padding-9xs: 0.144em;
  --padding-xl: 0.715em;
  --padding-sm: 0.499em;
  --padding-29xl: 1.713em;

  /* Border radiuses */
  --br-31xl: 1.785rem;
  --br-81xl: 3.569rem;
}
